<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>


<div id="index-page">
	
	<div class="row">
		<div class="small-12 columns">
			<div class="small-4 columns">
				<p> </p>
			</div>
			<div class="small-4 columns">
				<h1 class="logo">Hot Air</h1>
				
			</div>
			<div class="small-4 columns">
					<p> </p>
			</div>
		</div>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row" data-equalizer>
		<div class="small-12 columns">
			<div class="row" data-equalizer>
				<div class="small-12 medium-4 columns text-center">
					<iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d849077.3539825097!2d150.2678368067369!3d-33.768200002244015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x6b12b201c6bc3859%3A0x5017d681632ad80!2sBondi+Beach+NSW!3m2!1d-33.890843499999995!2d151.2742906!4m5!1s0x6b127b29264b4bb3%3A0x3017d681632d620!2sBlue+Mountains!3m2!1d-33.6506548!2d150.4428323!5e0!3m2!1sen!2sau!4v1414641285886" width="260" height="210" frameborder="0" style="border:0"></iframe>
					<p></p>
					<h3>Send Commands</h3>
					<p>Access dozens of intuitive commands at the stroke of a key</p>
				</div>
				<div class="small-12 medium-4 columns text-center">
					<img src="/assets/chatwithfriends.png" alt="">
					<p></p>
					<h3>Chat with friends</h3>
					<p>Speak to you friends </p>
				</div>
				<div class="small-12 medium-4 columns text-center">
					<iframe width="100%" height="210" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/45108319&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
					<p></p>
					<h3>Embed links</h3>
					<p>Display links beautifully, the way they should be seen.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	</div>
	<div class="row">
		<div class="small-6 small-centered columns text-center">
			<a href="#" class="button" id="registerButton">Sign-up Now</a>
		</div>
	</div>
</div>
<!-- 
<h2>Sup</h2>
<% if logged_in? %>
	<%= @current_user.name %> is logged in.
<% end %> -->
