

<div id="index-page">
	
	<div class="row">
		<div class="small-12 columns">
			<div class="small-4 columns">
				<p> </p>
			</div>
			<div class="small-4 columns">
				<h1>Hot Air</h1>
				
			</div>
			<div class="small-4 columns">
					<p> </p>
			</div>
		</div>
	</div>
	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div class="row">
				<div class="small-4 columns">
					<iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d849077.3539825097!2d150.2678368067369!3d-33.768200002244015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x6b12b201c6bc3859%3A0x5017d681632ad80!2sBondi+Beach+NSW!3m2!1d-33.890843499999995!2d151.2742906!4m5!1s0x6b127b29264b4bb3%3A0x3017d681632d620!2sBlue+Mountains!3m2!1d-33.6506548!2d150.4428323!5e0!3m2!1sen!2sau!4v1414641285886" width="260" height="210" frameborder="0" style="border:0"></iframe>
					<h3>Send Commands</h3>
					<p>first column text</p>
				</div>
				<div class="small-4 columns">
					<img src="http://cnet4.cbsistatic.com/hub/i/r/2012/02/07/4e896985-b0d3-11e3-a24e-d4ae52e62bcc/resize/270xauto/f4cdf4f314a3a3c98e217ffbafe2f2b5/TerminalIconX.png" alt="">
					<h3>Chat with friends</h3>
					<p>second column</p>
				</div>
				<div class="small-4 columns">
					<iframe width="100%" height="210" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/45108319&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
					<h3>Embed links</h3>
					<p>third column</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	</div>
	<div class="row">
		<div class="small-5 columns">
			<p> </p>
		</div>
		<div class="small-2 columns">
			<a href="/login" class="button [radius round]">Register</a>
		</div>
		<div class="small-5 columns">
			<p> </p>
		</div>
	</div>
</div>
<!-- 
<h2>Sup</h2>
<% if logged_in? %>
	<%= @current_user.name %> is logged in.
<% end %> -->
