// // Place all the styles related to the Pages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

#aboutUsModal {
	text-align: center;
}
#index-page {
	background-color: #990033;
	position: absolute;
	width: 100%;
	bottom: 0px;
	top: 45px;
	h3 {
		color: white;
	}

	#about_us {
		background-color: #333333;	
	}
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   height: 100%;
}

html {
   height: 100%;
}

body {
   height: 100%;
 }

#chat-page {
	position: absolute;
	top: 45px;
	bottom: 0px;
	width: 100%;
}

.fullHeight {
	height: 100%
}

#chatRoom {
	width: 100%;
	position: absolute;
	bottom: 0px;
	top: 112px;
}
#chatMsgs{
	position: absolute;
	width: 100%;
	bottom: 80px;
	top: 0px;
	padding: 0.5em;
}
#sendRow {
	bottom: 0px;
	position: absolute;
	width: 100%;
}

#chat-view {
	height: 100%;
	width: 100%;
	overflow: auto;
}

.recentRoom {
	padding: 0;
}

.removeRecent {
	padding: 0;
}

.noPadding {
	padding: 0;
}

.roomsTitle {
	padding-left: 1em;
	
}

#show_upload_file_button{
	padding: 0.5em 1em;
}

.blackLink {
	color: black;
}

.roomRow {
	border-top: 1px solid #EEE;
	padding: 1em;
}

.roomRow:hover {
	background: #FAF9F5;
}


///////  old shit
///
// .removeRecent {
// 	float: right;
// 	padding-right: 1em;
// }

.white {
	color: white;
}

.roomRow a {
	color: black;
}

.roomRow:hover {
	a {
		color: #990033;
	}
}

.side-nav li a:not(.button) {
	color: black;
}

.side-nav li a:not(.button):hover {
	color: #990033;
}
#leftColumn {
	border-right: 2px solid #EEE;
}
#topBar {
	h1 {
		font-size: 2em;
		margin: 0;
	}
	h4 {
		font-size: 1em;
		display: inline-block;
	}
	h5 {
		display: inline-block;
		font-size: 1em;
		float: right;
		margin-right: 1em;
	}
	box-shadow: 0px 4px 0px rgba(0,0,0,0.1);
	padding: 1em;
	background: white;
}

#userList {
	padding: 1em;
	background-color: #EEE;
	z-index: -1;

}

#userList li {
	margin-bottom: 1em;
}
button {
	background: #990033;
}


h1.logo {
	font-family: 'Lobster Two', cursive;
	color: white;
	font-size: 9em;
}
#show_create_room_button  {
	background: #990033;
}


#new_user_path {
	margin-left: 1em;
}

#show_commands {
	margin-left: 1em;
}

.userName {
	text-align: right;

}

.messageEl {
	border-left: 1px solid #EEE;
}


.chatRow {
	border-top: 1px solid #EEE;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

}

/*.small-4.columns {
	background-color: white;
	text-align: center;

}*/
.embedColor {
	background: #FAF9F5;
}

.embedly-card {
	background-color: white;

}


#show_rooms_button{
	width: 100%;
}

#delete_room_button {
	margin: 0;
	padding: 5px 1em;
}
// .vertAlign {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
// }



// #chat-view {
// 	max-height: 65vh;
// 	overflow: scroll;
// 	margin-top: 1em;
// }
// .chatRoom {
// 	position: relative;
// 	background-color: white;
// 	min-height: 65vh;

// }

// .sendRow {
// 	background-color: #8D8D8D;
// }

// .sendInput {
// 	padding-top: 1em;
// }
// .userList {
// 	background-color: #F1EEEE;
// 	height: 100%;
// 	position: absolute;
// 	right: 0;
// }

// #chat-page {

//   margin: 0;
//   padding: 0;

// 	background-color: #FCAFAE;
// }

// .chatFooter {
// 	background-color: #E49797;
// }

// .topBar {
// 	position: relative;
// 	background: white;
// 	padding-top: 0.5em;
// 	padding-left: 1em;
// 	padding-right: 20%;
// 	box-shadow: 0px 5px 2px rgba(0,0,0,0.15);
// 	z-index: 1;
// }

// .chatRow {
// 	padding-top: 1em;
// 	padding-bottom: 1em;
// }
// button {
// 	height: 2.4em;
// 	padding-top: .65em;
// }



/* lawrence */

html {
    perspective: 600px;
    transform: translateX(0);
}

.shake {
  -webkit-animation: shake 800ms ease-in-out;
}

@-webkit-keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}


/* lawrence test  */

/* james */
button.secondary, .button.secondary {
  background-color: #990033;
  color: white;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #008cba;
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  color: white;
}

.top-bar-section ul li > button {
  background-color: #990033;
}

button, .button {
  background-color: #990033;
}

input[type="submit"] {
  font-size: 0.8125rem;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #990033;
  border-color: #990033;
  color: white;
}
